# 초기 파일만 추적하고 나머지는 전부 무시
*
!final_results/
!final_results/**

!.gitignore

!README.md
!agent.py
!buffer.py
!config.py
!data_augmentation.py
!development.ipynb
!entity.py
!env.py
!evaluate_checkpoint.py
!experiment_results.py
!game.py
!human.py
!metric.py
!model.py
!README.md
!record_agent_gif.py
!render.py
!requirements.txt
!train_pqn.py
!train.py

