# 초기 파일만 추적하고 나머지는 전부 무시
*
!.gitignore
!README.md
!config.py
!entity.py
!game.py
!human.py
!render.py
!env.py
!requirements.txt
!test_img_env.ipynb
!test_vec_env.ipynb
!dqn.py
!ppo.py
!dqn_visualize.py
!ppo_visualize.py
!save_dqn.py
!train_dqn.py
!record_human_play.py
!dqn_training/